* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  --color-text-menu: #4a4a4a;
  --color-text-title: #ffffff;
  --color-main: #3cdbc0;
  --color-header: #ffffff;
}

.header {
  width: 100vw;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-header);
}
.nav {
  display: flex;
  flex-direction: column;
}
.image {
  width: 155px;
  padding: 10px;
}
.menu {
  list-style: none;
  color: var(--color-text-menu);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttons {
  text-decoration: none;
  padding-bottom: 13px;
}

.links {
  text-transform: uppercase;
  color: var(--color-text-menu);
  padding: 10px;
}

.main {
  height: 100vh;
  background-color: var(--color-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  width: 250px;
  font-size: 1.85rem;
  color: var(--color-text-title);
  text-transform: capitalize;
  text-align: center;
}

@media all and (min-width: 768px) {
  .nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .links {
    padding: 10px;
  }
  .image {
    padding: 10px 0;
  }
  .title {
    font-size: 2.5rem;
  }
}
